<html>

<head>
    <meta charset="UTF-8">
    <title>Payment Link</title>
    <meta name="description" content="Login - Register Template">
    <meta name="author" content="TheV">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <style>
        input:focus,
        textarea:focus,
        select:focus {
            outline: none;
        }
        /* WebKit browsers */
        input:focus::-webkit-input-placeholder {
            color: transparent;
        }
        /* Mozilla Firefox 4 to 18 */
        input:focus:-moz-placeholder {
            color: transparent;
        }
        /* Mozilla Firefox 19+ */
        input:focus::-moz-placeholder {
            color: transparent;
        }
        /* Internet Explorer 10+ */
        input:focus:-ms-input-placeholder {
            color: transparent;
        }
        /* IE 10+ */
        .btn-secondary {
            color: #fff;
            background-color: #00A6CE;
            border: 0;
            border-radius: 0.5rem !important;
            height: calc(1.5em + 0.75rem + 2px);
            width: 100%;
            max-width: 300px;
            margin: 5px;
            margin: 0px !important;
        }
        .btn-signup {
            padding: 8px 125px;
            border-radius: 0;
            line-height: 1.5;
            font-size:13px;
            border: 0;
            color: #fff;
            text-decoration: none;
            background-color: #3A5E9A;
            border-radius: 0.5rem !important;
            height: calc(1.5em + 0.75rem + 2px);
            width: 100%;
            max-width: 300px;
            margin: 5px;
            margin: 0px !important;
        }
        ::placeholder {
            font-size: 13px;
            color: #171717;
            opacity: 1;
            padding-left: 10px;
        }
        .txt-input {
            border-radius: 0.5rem;
            height: calc(1.5em + 0.75rem + 2px);
            border: 0px solid #888;
            color: #171717;
            background-color: #FFFFFF;
            margin: 3px;
            padding: 5px;
            width: 100%;
            max-width: 300px;
        }
        .thev-signin-background {
            background: url(thev-login-bg.svg);
            background-size: contain;
            background-repeat: no-repeat;
            background-position: bottom;
            height: 100vh;
        }
        .alert {
            position: relative;
            padding: 20px;
            background-color: #00A6CE;
            z-index: 30;
            color: #fff;
            border-radius: 0;
            min-height: 40px;
            box-sizing: border-box;
            border: none;
            font-weight: 600;
            box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
            transition: 1s all cubic-bezier(1, -0.01, 0, 0.99);
        }
        .alert-success {
            background-color: #f44336;
        }

        body>.alert {
            position: fixed;
            z-index: 10004;
            top: 0;
            left: 0;
            width: 100%;
            -webkit-animation: alert-anim 1s cubic-bezier(1, -0.01, 0, 0.99);
            -moz-animation: alert-anim 1s cubic-bezier(1, -0.01, 0, 0.99);
            animation: alert-anim 1s cubic-bezier(1, -0.01, 0, 0.99);
        }

table { 
    border-spacing: 0px;
    border-collapse: collapse;
     width: 100%
}

.theadtable {
  background-color: #005581;
  color: #fff;
  text-align: left;
  font-size: 100%;
  width:50%;  
}
table tr.head th {
    padding-left: 3px;
  border-bottom: 1px solid #807D78;
  font-size:12pt;
      padding-top: 8px;
  padding-bottom: 8px;

}

table td {
  border: 1px dashed #B0ACA6;
  padding: 3px;
}

table tr td:first-child,
table tr th:first-child {
    border-left: 0;
}

table tr td:last-child,
table tr th:last-child {
    border-right: 0;
}

td.total {
  font-weight: bold;
}

td.alright{
  text-align: right;
}

tr.topborder {
  border-top: 1px solid #807D78;
}

        @@media only screen and (max-width: 600px) {
            .thev-signin-background {
                background: url(thev-login-sm-bg.svg);
                background-size: contain;
                background-repeat: no-repeat;
                background-position: bottom;
                height: 100%;
            }
        }
        .parent {
            display: table;
            width: 100%;
            height: 500px;
            text-align: center;
        }
        .child {
            display: table-cell;
            vertical-align: middle;
        }
    </style>
</head>

<body style="margin:0px !important; background-color: #DDDDDD; font-family: Arial, Helvetica, sans-serif;">
    <header id="header_Logout" style=" background-color: #00A6CE !important; height: 30px; margin: 0px !important;
    position: fixed; top: 0; right: 0; left: 0; z-index: 1030;">
    </header>
    <div class="alert">
        @ViewBag.msg
    </div>
    <section class="parent thev-signin-background" style="height: 100% !important;">
        <div class="" style="padding-top:70px; text-align: center; width: 100%;">

            <h3><strong>Payment Invoice</strong></h3>

                <p style="padding:5px 30px 30px 30px; max-width: 500px; text-align: center;; margin:auto">
                    @ViewBag.payfor
                </p>
                <div
                    style="background:#E8E8E8; max-width: 500px; text-align: center; border-radius: 0.3rem; margin:15px;padding-top:20px;padding-bottom:20px; margin: auto;">
                    <form action="/Log/pay" method="post" style="margin:10px;">
                        <p style="font-size: 12px;">
                            
                        </p>
                        <table>
                            <tr>
                                <td class="theadtable">Invoice Number</td>
                                <td>@ViewBag.invnumber</td>
                            </tr>
                            <tr>
                                <td class="theadtable">Invoice Date</td>
                                <td>@ViewBag.invdate</td>
                            </tr>
                            <tr>
                                <td class="theadtable">Sent To</td>
                                <td>@ViewBag.invperson</td>
                            </tr>
                            <tr>
                                <td class="theadtable">Amount (USD)</td>
                                <td>@ViewBag.invamountusd USD</td>
                            </tr>
                            <tr>
                                <td class="theadtable">Amount (MYR)</td>
                                <td>@ViewBag.invamountmyr MYR</td>
                            </tr>
                            <tr>
                                <td class="theadtable" colspan="2">Description</td>
                            </tr>
                            <tr>
                                <td colspan="2"><strong>@ViewBag.description</strong></td>
                            </tr>
                        </table>
                        <br/><br/>
                        <input type="hidden" value="@ViewBag.url" name="returnurl" />
                        <input type="hidden" value="@ViewBag.email" name="email" />
                        <input type="hidden" value="@ViewBag.invnumber" name="token" />
                        
                        <button id="btnpay" class="btn-secondary" type="submit">Pay Invoice</button>
                    </form>
                </div>
        </div>
    </section>
</body>

</html>